
Tuto_lab1_embedded\.cache/

Tuto_lab1_embedded\.hw/

Tuto_lab1_embedded\.ip_user_files/

Tuto_lab1_embedded\.runs/

Tuto_lab1_embedded\.sim/

vivado_11408\.backup\.jou

vivado_11408\.backup\.log

vivado_pid7084\.str

vivado\.jou

vivado\.log

Tuto_lab1_embedded\.xpr
